@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

/* Global */

html {
    background-color: var(--primary-light);
    padding: 0 8px;

    font-family: 'Noto Sans', sans-serif;
}

body::before {
    content: "";
    background-color: var(--primary-light);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
}

body::after {
    content: "";
    background-color: var(--primary-light);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 8px;
}

body {
    min-height: 100%;
    background-color: white;
    padding: 32px;
}

/* Palette */

:root {
    --black-light: #2D3749;
    --black-normal: #151F2F;
    --black-dark: #10151F;

    --white-light: #F5F6FC;
    --white-normal: #E5E8F7;
    --white-dark: #D7DBF1;

    --gray-light: #AFB9CE;
    --gray-normal: #68758E;
    --gray-dark: #4C5A75;

    --primary-light: palegreen;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;

    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    font-family: inherit;

    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}
