@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

/* Global */

html {
    background-color: var(--primary-light);
    padding: 0 16px;

    font-family: 'Noto Sans', sans-serif;
}

body::before {
    content: "";
    background-color: var(--primary-light);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 16px;
}

body::after {
    content: "";
    background-color: var(--primary-light);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 16px;
}

body {
    min-height: 100%;
    background-color: var(--white-light);
    padding: 16px 0;
}

/* Palette */

:root {
    --white-light: white;
    --white-normal: #F5F6FC;
    --white-dark: #E5E8F7;

    --gray-lighter: #D7DBF1;
    --gray-light: #AFB9CE;
    --gray-normal: #68758E;
    --gray-dark: #4C5A75;
    --gray-darker: #2D3749;

    --black-light: #151F2F;
    --black-normal: #10151F;
    --black-dark: black;

    --primary-light: palegreen;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;

    color: inherit;
    font: inherit;
    text-decoration: inherit;

    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}
